#include "windows.h"
#include "generic.h"

TANK ICON tank.ico

GenericMenu MENU
BEGIN
    POPUP	 "Options"
    BEGIN
	MENUITEM "Original",	    IDM_ORIGINAL
	MENUITEM "Tank w/ 10 salvos", IDM_COPT2
	MENUITEM "Copter w/ 3 salvos", IDM_TANKCOPT
	MENUITEM "About",	    IDM_ABOUT
    END
END

AboutBox DIALOG 22, 17, 144, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About Generic"
BEGIN
    CTEXT "BattleZone"	 -1,	   0,  5, 144,	8
    CTEXT "Ported by Eric Fogelin"	 -1,	   0, 14, 144,	8
    CTEXT "Win 3.0, 3.1, Win32"		 -1,	   0, 34, 144,	8
    DEFPUSHBUTTON "OK"          IDOK,      53, 59,  32, 14,      WS_GROUP
END
